body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;

  }
/* hero image  and text start */
  .heroimage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/headercollagesmall.png");
    height: 75%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    padding: 5px;
    margin: 5px;
  }
  
  .herotext {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Permanent Marker';
    font-size: 25px;
    text-shadow: 2px 2px 8px palevioletred;
    }
 
    /* hero image and text end */

    /* start of nav bar */

  nav ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  h1 {
    width: 500px;
    margin: 100px auto 20px;
    color: white;
    text-align: center;
  }
      
  .nav {
    width: 500px;
    margin: 0 auto;
    background-color: transparent;
    color: white;
    font-family: 'Permanent Marker'
  }
  .nav a {
    display: block;
    padding: 16px;
    line-height: inherit;
    cursor: pointer;
  }
  .nav__menu {
    line-height: 45px;
    font-weight: 700%;
    text-transform: uppercase;
  }
  .nav__menu-item {
    display: inline-block;
    position: relative;
  }
  .nav__menu-item:hover {
    background-color: transparent;
  }
  .nav__menu-item:hover .nav__submenu {
    display: block;
  }
  .nav__submenu {
    font-weight: 300;
    text-transform: none;
    display: none;
    position: absolute;
    width: 220px;
    background-color: transparent;
  }
  .nav__submenu-item:hover {
    background: transparent;
  }

  /* end of navbar */

    /* link colors */
  a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
        
  a:visited {
    color: lightpink;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: palevioletred;
    background-color:transparent;
            
  }
  a:active {
    color: purple;
    background-color: transparent;
  }
/* link colors end */

section {
  margin-bottom: 500px;
  padding: 20px;
  height: 200px;
  width: 800px;
  float: left;
  clear: left;
  background-color: palevioletred;
  border-style: solid;
  border-color: white;
  box-shadow: 10px 10px 5px palevioletred; 
  font-family: 'Fugaz One';
  color: white;

}

/* footer start */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: palevioletred;
    color: white;
    text-align: center;
}

/* footer end */