body, html {
    height: 100%;
    background-color: black;

  }
/* hero image  and text start */
  .heroimage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/img/headercollagesmall.png");
    height: 65%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .herotext {
    text-align: center;
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Permanent Marker';
    font-size: 27px;
    text-shadow: 2px 2px 8px palevioletred;
    }
 
    /* hero image and text end */

/* start of nav bar */
 

/* end of navbar */

/* link colors */
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: lightpink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: palevioletred;
  background-color:transparent;
                
}
a:active {
  color: purple;
  background-color: transparent;
}
/* link colors end */

/* start article one */

.leadimage {
  height: 300px;
  margin: 10px;
  display: inline-flex;
  float: left;
  /* border: 4px solid palevioletred; */
  border-radius: 50%;
  box-shadow: 5px 5px 5px grey;
}

.leadtext {
  margin:20px;
  padding: 20px;
  height: 259px;
  width: 900px;
  float: right;
  background-color: black;
  border-style: solid;
  border-color: palevioletred;
  box-shadow: 10px 10px 5px grey;  
  font-family: 'Fugaz One';
  color: palevioletred;

  }


/* end article one */


.secondimage {
  height: 300px;
  display: inline-flex;
  float: right;
  clear: right;
  /* border: 4px solid palevioletred; */
  border-radius: 50%;
  display: block;
  margin-left: auto;
  box-shadow: 5px 5px 5px grey;

}
.sectiontext {
  margin:20px;
  padding: 20px;
  height: 259px;
  width: 900px;
  float: left;
  background-color: black;
  border-style: solid;
  border-color: palevioletred;
  box-shadow: 10px 10px 5px grey;  
  font-family: 'Fugaz One';
  color: palevioletred;
}




/* footer start */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: palevioletred;
    color: white;
    text-align: center;
    font-family: 'Permanent Marker';
    height: 50px;
}

/* footer end */